.file {
    padding: 8;
    border-bottom: 1px solid #dddddd;
}

.section {
    margin-bottom: 5px;
}

.ui-selected { 
    background: #007fff; 
    color: white; 
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
}


#mturk-top-banner-drop-down-content {
    position: absolute;
    width: 99%;
    bottom: 0px;
    top:unset;
    left: 0;
    background-color: rgba(220,220,220,0.7);
    z-index: 100;
    padding: 10px 10px 10px 10px;
    border-left: 1px orange solid;
    border-right: 1px orange solid;
    border-top: 1px orange solid;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

#permissions_user_button_title {
    margin-top: 10px;
    font-weight: bold;
    color: orange;
}

#permdialog {
    width: 50%;
}

#permissions_user_title {
    font-weight: bold;
    color: orange;
}

#permdialog_objname {
    font-weight: bold;
}

#permdialog_objname_namespan {
    font-weight: normal;
    color: black;
}

#permdialog_grouped_permissions_header_p span {
    color: orange;
}

#help_button {
    color: orange;
    width: 200px;
    height: 50px;
    font-size: 24px;
}

/*Here I made the advanced tabs hidden!*/

#advtab_title_owner  {
    visibility: hidden;
}

#advtab_title_effective {
    visibility: hidden;
}

#adv_perm_entries_text {
    display: none;
}
#adv_perm_table_container {
    display: none;
}

#overlay.hideOverlay {
    display: none;
}

#overlay {
    width: 92.5%;
    height: 120px;
    background-color: rgba(150,150,150,0.5);
    position: absolute;
    z-index: 5;
    text-align: center;
    font-size: 24px;
    color: white;
    padding-top: 30px;
    text-shadow: 0px 0px 10px black;
}

#perm_entry_change_user {
    color: #007fff;
}

#overlayAdvanced {
    width: 92.5%;
    height: 250px;
    background-color: rgba(150,150,150,0.5);
    position: absolute;
    z-index: 5;
    text-align: center;
    font-size: 24px;
    color: white;
    text-shadow: 0px 0px 10px black;
    padding-top: 30px;
}


#overlayAdvanced.hideOverlayAdvanced {
    display: none;
}

#permdialog_advanced_explantion_text {
    color: #007fff;
}

#permdialog_grouped_permissions_header_deny, #perm_entry_header_deny {
    color: red;
}

#tips {
    margin-left: 20px;
    width: 75%;
    padding: 20px;
    border: 3px solid #007fff;
}

#tips h2 {
    margin-bottom: 5px;
    color: red;
    font-size: 64px;
}

.tip_q {
    font-weight: bold;
}




